@font-face {
  font-family: "iconfont"; /* Project id 3418479 */
  src: url("iconfont.woff2?t=1653120409322") format("woff2"),
    url("iconfont.woff?t=1653120409322") format("woff"),
    url("iconfont.ttf?t=1653120409322") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e790";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-bianji:before {
  content: "\e620";
}

.icon-icon--tianjia:before {
  content: "\e622";
}

.icon-shuben:before {
  content: "\e668";
}

.icon-tianjia:before {
  content: "\e6d8";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-double-left:before {
  content: "\e666";
}

.icon-arrow-double-right:before {
  content: "\e667";
}

.icon-search:before {
  content: "\e67d";
}

.icon-qingdan:before {
  content: "\e615";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-zhuye:before {
  content: "\e60f";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-tixing:before {
  content: "\e716";
}

.icon-wancheng:before {
  content: "\e616";
}

.icon-qianbao:before {
  content: "\e851";
}

.icon-dengdai:before {
  content: "\e61c";
}

.icon-zhongxintijiao:before {
  content: "\e628";
}

.icon-zanting1:before {
  content: "\e63d";
}

.icon-keshikanban:before {
  content: "\e661";
}
